.background{
  background-color: #e5e5e5;
  height: 110vh;
  padding-top: 20px;
}
.card{
  margin: auto;
  width: 80%;
}
h3{
  display: flex;


}
.marginSide{
  margin-left: 30px;
}
mat-icon{
  margin:5px;
}
mat-form-field{
  width: 80%;
  margin: auto;
}
.center{
  text-align: center;
}
button{
  margin: 20px;
}
.bColor{
 background-color: #e5e5e5;
}
