<div class="background">
  <mat-card class="card">
  <mat-toolbar class="bg-dark text-white">Add your Post</mat-toolbar>
  <br>
<div class="marginSide">
  <hr>
  <h3><mat-icon>school</mat-icon>Welcome to Community </h3>
  <hr>
  <!-- Form -->

  <form>


    <mat-form-field appearance="outline">
      <mat-label>Create a post</mat-label>
      <textarea matInput required></textarea>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>

</div>
<br>
</mat-card>
</div>
